<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

        <!--事务-->
        <settings>
            <setting name="logImpl" value="STDOUT_LOGGING"/>
        </settings>
        <!--配置数据源交给spring去做-->
        <typeAliases>
            <package name="com.fc.entity"/>
        </typeAliases>
        <mappers>
            <mapper class="com.dao.PaperMapper"/>
            <mapper class="com.dao.UserMapper"/>
            <mapper class="com.dao.AdminMapper"/>
        </mappers>

</configuration>
